/* .card>div:last-child{
    opacity: 0;
    transform: scaleY(0);
}

.card>div:first-child:hover+div{
    opacity: 1;
    transform: scaleY(1);
} */

.clicked-top{
    transform:rotate(45deg) translate(8px, 8px);
}

.clicked-mid{
    transform: scale(0);
}

.clicked-bot{
    transform:rotate(-45deg) translate(7px, -8px);
}

